<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <preference for="MageSuite\ImageResize\Repository\ImageInterface" type="MageSuite\ImageResize\Repository\File" />
</config>
